html
  head
    title Love Island Bingo
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    style
      include /css/style.css
  body
    block content
      header
        h1 Love Island Bingo