include ./partials/header.pug

section
  //- main content
  each word, index in words
    form(method='POST' action='/bingo')
      input(type='hidden', value=word, name=word)
      input(type='submit', value=word, title=word)
