include ./partials/header.pug

section
  //- main content
  p The exciting Love Island Bingo game!
  p Press play on the latest episode of love island
  p Press the button below to start and get a bingo board ready! *
  p When anyone in the villa says a word on your board, press it to dab
  p First one to get a vertical, horizontal or diagonal line, WINS!
  p 
    a(class='bingo' href='/bingo') Bingo!
  p * you get a new board once an hour