include ./partials/header.pug

section
  //- main content
  p Exciting bingo game!
  p Press play on an episode of love island, start the game and get a bingo board ready!
  p When someone in the villa says a word on your board, press it to dab
  p First one to get a vertical, horizontal or diagonal line, WINS!
  a(class='bingo' href='/bingo') Bingo!